<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List Manager</title>
</head>
<body>
    <h1>Welcome to the Todo List Manager</h1>
    <p>You can use the text input below to insert a new task<br>
    You can delete tasks once at time by clicking on the relative button next to it</p>


    <ul>Here you can see all the existing task
    {% for task in task_list %}
        <li>{{ task['todo'] }}
            <a href="{{ url_for('delete_page', id_task = task['id']) }}"><button type="submit" value="Delete">Delete</button></a>
        </li>
    {% endfor %}
    </ul>

    <p>Insert a new task
    <form action="{{ url_for('insert_page') }}" method="post">
        <input type="text" width="80" name="task">
        <input type="radio" name="urgent" value="true" checked>Urgent
        <input type="radio" name="urgent" value="false">Not urgent
        <input type="submit" value="Insert">
    </form></p>
</body>
</html>